<div id="missing-input" class="popup-container">
    <p class="popup-headline">
        <img src="img/error.png" alt="">
        Error
        <img src="img/error.png" alt="">
    </p>
    <div class="popup-main-container">
        <div class="popup-main-content">
            <p>
                You need to ask a question. <br><br>
                The aliens are not psychic.. we think.
            </p>
            <br>
            <button class="popup-button">Press any key</button>
        </div>
    </div>
</div>