<div id="unavailable-planet" class="popup-container">
    <p class="popup-headline">
        <img src="img/error.png" alt="">
        Error
        <img src="img/error.png" alt="">
    </p>
    <div class="popup-main-container">
        <div class="popup-main-content">
            <p>
                The aliens on this planet are on vacation!<br>
                Unfortunately that means they won't be able to answer your question<br><br>
                Please select another planet.
            </p>
            <br>
            <button class="popup-button">Press any key</button>
        </div>
    </div>
</div>