<div id="transmission-not-ready" class="popup-container">
    <p class="popup-headline">
        <img src="img/error.png" alt="">
        Error - Premature transmission
        <img src="img/error.png" alt="">
    </p>
    <div class="popup-main-container">
        <div class="popup-main-content">
            <p>
                Please write a question and select a planet before attempting to transmit!
            </p>
            <br>
            <button class="popup-button">Press any key</button>
        </div>
    </div>
</div>