<div id="asking-question-container" class="content-container">
    <span></span>
</div>

<div id="pick-planet-container" class="content-container">
    <div class="help-text-container">
        Gaze upon the planets hanging in the air and pick one.<br>
        Which one should answer your question?<br><br>
        <span class="small">
            Use the SLIDER on the control panel to select a planet<br>
            Press the big red TRANSMIT button when you are ready
        </span>
    </div>
</div>

<%- include('popup_unavailable-planet') %>