<div id="transmission-container" class="content-container">

    <div id="terminal-container">
        <div id="terminal-content"></div>
        <div class="terminal-new-content">
            <span id="terminal-user">root@aether:~$</span> <span id="terminal-typing"></span>
        </div>
    </div>
</div>

<div id="transmitting-popup" class="popup-container">
    <p class="popup-headline">
        Transmitting
    </p>
    <div class="popup-main-container">
        <div id="transmitting-status-bar" class="status-bar"></div>
    </div>
</div>

<div class="history"></div>