<div id="asking-question-container" class="content-container">
</div>

<div id="pick-planet-container" class="content-container">
    <div class="help-text-container">
        Which planet do you want to ask?<br><br>
        <span class="small">
            Use keys 1-8 to select a planet <br>
            Press 'Enter' to transmit
        </span>
    </div>
</div>