#start-container {

  top: 330px;
  text-align: center;

  img {
    margin-bottom: 50px;
    width: 700px;
  }

  h1 {
    text-align: center;
    animation: blinker 1s steps(2, start) infinite;
    font-size: 20px;
  }
}