$font-stack : "Noto Mono", monospace;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    background-color: #000000;
    color: #ffffff;

    font-family: $font-stack;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
  outline: none !important;
}

main {
  position: relative;
}

.content-container {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  margin: 0 auto;
  opacity: 0;
}

.help-text-container {
  text-align: center;
  //line-height: 2;

  .small {
    font-size: 12px;
  }
}

#planet-container {
  //border: 1px solid white;
  width: 1000px;
  margin: 12px;

  canvas {
    width: 1000px !important;
    height: 400px !important;
    position: absolute;
    transition: all 0.5s ease;
  }
}

#start-container {
  top: 400px;

  h1 {
    text-align: center;
    animation: blinker 1s steps(2, start) infinite;
    font-size: 20px;
  }
}

#input-container {
  //border: 1px solid red;

  #question-container {
    margin-bottom: 75px;

    &:after {
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }

  .question-element {
    float: left;
  }

  #question-starter {
    width: 250px;
    height: 100px;
    text-align: center;
    margin: 0;
    border: 2px solid #fff;
    overflow: hidden;
  }

  #question-starter-rotator {
    position: relative;
    transform: translateY(-25px);

    span {
      width: 100%;
      height: 50%;
      display: block;
      font-size: 28px;
      line-height: 50px;
    }
  }

  #question-input {
    width: 600px;
    heigth: 100px;

    #question-input-field {
      width: 100%;
      line-height: 100px;
      padding: 0 20px;
      border: 0;
      font-size: 30px;
      font-family: $font-stack;
    }
  }

  #question-end {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    position: relative;

    span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;

      font-size: 30px;
    }
  }
}

#pick-planet-container {
  margin-top: 75px;
}

main[data-state='1'] {
  #start-container {
    opacity: 1;
  }
}

main[data-state='2'] {
  #planet-container canvas {
    transform: scale(0.5) translateY(-250px);
  }

  #input-container {
    opacity: 1;
    transition: opacity 1s ease;
  }
}

main[data-state='3'] {
  #pick-planet-container {
    opacity: 1;
    transition: opacity 1s ease;
  }
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}


/*
.content {
    width: 90%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



*/