
<div class="content">

    <button class="arduino-led" data-target="0">0</button>
    <button class="arduino-led" data-target="1">1</button>

    <div id="question-container">
        <div id="question-starter" class="question-element">
            <div id="question-starter-rotator">
                <div id="overlay"></div>
                <span>When will</span>
                <span>Is there</span>
                <span>Will I</span>
                <span>What is</span>
                <span>Should I</span>
                <span>Can you</span>
            </div>
        </div>
        <span class="question-element">...</span>
        <div id="question-input" class="question-element">
            <input type="text">
        </div>
    </div>
</div>