<!doctype html>
<html>
  <head>
    <title>Raspberry Pi Server</title>
    <script src="/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="/js/plugins/p5.min.js"></script>
    <script src="/js/plugins/typed.min.js"></script>
    <script src="/js/src/main.js"></script>
    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <body>
        <main data-state="1">
          <%- body %>
        </main>
    </body>
  </body>
</html>
